
@{
    ViewBag.Title = "RegistrarTransaccion";
    Layout = "~/Views/Shared/_LayoutTemple.cshtml";
}

<h2>RegistrarTransaccion</h2>

<script>
    if ('@ViewBag.mensaje' != '') {

        alert('@ViewBag.mensaje');

    }

</script>
