
@{
    ViewBag.Title = "Anuncios de mis instructores";
    Layout = "~/Views/Shared/_LayoutTemple.cshtml";
}

<link rel="stylesheet" href="~/Content/estiloComentarios.css" />
<h2>Anuncios de mis instructores</h2>
<div class="contenidoControl">
    
    <label for="anuncios">Aquí se mostrarán las publicaciones de los instructores que hayas contratado</label>
    <div id="anuncios">

    </div>

</div>


<script>

            // Cargo los anuncios actuales
            var url ="@Url.Action("obtenerAnuncios", "Alumno")";

            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                success: function (response) {

                    $("#anuncios").empty();

                    var lista = JSON.parse(response);
                    if (lista.length == 0) {
                        $('#anuncios').append('<div class="well well-sm">No has publicado ningun anuncio aún</div>');
                    }
                    for (var i in lista.reverse()) {

                        var fechaHora = moment(parseInt(lista[i].fechaHora.replace("/Date(", "").replace(")/", ""))).format('L LT');

                        $('#anuncios').append('<div class="row"><div class="col-sm-12"><div class="panel panel-white post panel-shadow"><div class="post-heading">' +
                            '<div class="pull-left image"><img src="/imagenes/iconoPost.png" class="avatar" alt="user profile image">' +
                            '</div><div class="pull-left meta"><div class="title h5"><b>' + lista[i].nomInstr + ' ' + lista[i].apPatInstr + ' ' + lista[i].apMatInstr + '</b></div>' +
                            '<div class="title h5"><b>Título de la publicación: ' + lista[i].titulo + '</b></div>'+
                            '<h6 class="text-muted time">' + fechaHora + '</h6></div></div><div class="post-description"><p>' + lista[i].contenido + '</p>' +
                            '</div></div></div></div>');



                    }


                  }



            });

  
    // Cada dos segundos verificará la tabla
    setInterval(function () {

        $("#anuncios").empty();

        var url ="@Url.Action("obtenerAnuncios", "Alumno")";

            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                success: function (response) {

                    $("#anuncios").empty();

                    var lista = JSON.parse(response);
                    if (lista.length == 0) {
                        $('#anuncios').append('<div class="well well-sm">No has publicado ningun anuncio aún</div>');
                    }
                    for (var i in lista.reverse()) {

                        var fechaHora = moment(parseInt(lista[i].fechaHora.replace("/Date(", "").replace(")/", ""))).format('L LT');

                        $('#anuncios').append('<div class="row"><div class="col-sm-12"><div class="panel panel-white post panel-shadow"><div class="post-heading">' +
                            '<div class="pull-left image"><img src="/imagenes/iconoPost.png" class="avatar" alt="user profile image">' +
                            '</div><div class="pull-left meta"><div class="title h5"><b>' + lista[i].nomInstr + ' ' + lista[i].apPatInstr + ' ' + lista[i].apMatInstr + '</b></div>' +
                            '<div class="title h5"><b>Título de la publicación: ' + lista[i].titulo + '</b></div>'+
                            '<h6 class="text-muted time">' + fechaHora + '</h6></div></div><div class="post-description"><p>' + lista[i].contenido + '</p>' +
                            '</div></div></div></div>');



                    }


                  }



            });


    }, 2000);


</script>

