
@{
    ViewBag.Title = "Mis anuncios";
    Layout = "~/Views/Shared/_LayoutTemple.cshtml";
}
<link rel="stylesheet" href="~/Content/estiloComentarios.css" />
<h2>Mis anuncios</h2>
<div class="contenidoControl">

    <div class="form-group">
        <label for="txtTitulo">Publica algo</label>
        <input type="text" style="max-width: 100%; margin-bottom: 5px;" class="form-control" rows="5" id="txtTitulo" placeholder="Título de la publicación">
    </div>

    <div class="form-group">
        <textarea style="max-width: 100%; margin-bottom: 10px;" class="form-control" rows="5" id="txtPublicacion" placeholder="¿Qué quieres anunciar?"></textarea>
        <button id="btnPublicar" class="btn btn-primary btn-block btn-md disabled">Publicar</button>
    </div>

    <label for="anuncios">Publicaciones de la red</label>
    <div id="anuncios">

    </div>

</div>


<script>

    // Cargo los anuncios actuales
            var url ="@Url.Action("obtenerAnuncios", "Instructor")";

            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                success: function (response) {

                    $("#anuncios").empty();

                    var lista = JSON.parse(response);
                    if (lista.length == 0) {
                        $('#anuncios').append('<div class="well well-sm">Aún no hay anuncios publicados</div>');
                    }
                    for (var i in lista.reverse()) {

                        var fechaHora = moment(parseInt(lista[i].fechaHora.replace("/Date(", "").replace(")/", ""))).format('L LT');

                        $('#anuncios').append('<div class="row"><div class="col-sm-12"><div class="panel panel-white post panel-shadow"><div class="post-heading">' +
                            '<div class="pull-left image"><img src="/imagenes/iconoPost.png" class="avatar" alt="user profile image">' +
                            '</div><div class="pull-left meta"><div class="title h5"><b>' + lista[i].titulo + '</b></div>' +
                            '<h6 class="text-muted time">' + fechaHora + '</h6></div></div><div class="post-description"><p>' + lista[i].contenido + '</p>' +
                            '</div></div></div></div>');



                    }


                  }



            });

    $('#txtPublicacion').on('click', function () {

        $('#btnPublicar').removeClass('disabled');
                    
    });

    $('#btnPublicar').on('click', function () {

        if ($('#txtPublicacion').val().length <= 0 || $('#txtTitulo').val().length <= 0) {

           alert("El título ni el contenido pueden estar vacíos");

        } else {

            var url ="@Url.Action("insertarAnuncio", "Instructor")";
            var contenido = $("#txtPublicacion").val();
            var titulo = $('#txtTitulo').val();
            var data = { titulo: titulo, contenido: contenido };

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "json",
                success: function (response) {

                    $("#anuncios").empty();


                    var lista = JSON.parse(response);
                    if (lista.length == 0) {
                        $('#anuncios').append('<div class="well well-sm">No has publicado ningun anuncio aún</div>');
                    }
                    for (var i in lista.reverse()) {
                        //alert(json[i].fechaHora)
                        var fechaHora = moment(parseInt(lista[i].fechaHora.replace("/Date(", "").replace(")/", ""))).format('L LT');

                        $('#anuncios').append('<div class="row"><div class="col-sm-12"><div class="panel panel-white post panel-shadow"><div class="post-heading">' +
                            '<div class="pull-left image"><img src="/imagenes/iconoPost.png" class="avatar" alt="user profile image">' +
                            '</div><div class="pull-left meta"><div class="title h5"><b>' + lista[i].titulo + '</b></div>' +
                            '<h6 class="text-muted time">' + fechaHora + '</h6></div></div><div class="post-description"><p>' + lista[i].contenido + '</p>' +
                            '</div></div></div></div>');



                    }

                    $('#txtPublicacion').val("");
                    $('#txtTitulo').val("");


                  }



            });


        }

    });

</script>