
@{
    ViewBag.Title = "Bienvenida";
    Layout = "~/Views/Shared/_LayoutBienvenida.cshtml";
}

<h1>Página de bienvenida Temple</h1>

<div class="bparte" style="height:40px">
    <h1><b>Bienvenido a Temple</b></h1>
    <h2>Porque aprender nunca fue tan práctico</h2>
</div>
<div class="bparte" style="height:40px">
    <p>Temple te contacta con instructores expertos cercanos a tu localidad para que logres dominar tus cursos.</p>
</div>
<div class="bparte">
    <div id="parteMarco">
        <h2 style="text-align:center"><b>Regístrate ahora</b></h2>
        <a href="@Url.Action("RegistroAlumno","Registro")" class="btn btn-primary">Soy un alumno</a>
        <a href="@Url.Action("RegistroInstructor","Registro")" class="btn btn-primary">Soy un instructor</a>
    </div>
</div>
<div class="bparte">
    <div id="imagenMapa">
    </div>
</div>
