body {
    margin: 0px;
    padding: 0px;
}

#marco {
    width: 95%;
    height: auto;
    float: left;
    margin: 0 2% 20px 2%;
    padding: 0px;
}

.logo {
    margin: 10px 10px 0 0;
    width: 120px;
    height: 30px;
}

header, nav, footer {
    width: 100%;
    height:auto;
    float:left;
}

#panel-login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 30px;
    width: 50%;
}

.img-perfil-carta {
    width: 100%;
    height: 20px;
    margin: 0px;
}

.carta {
    margin-right: 20px;
    width: 200px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float:left;
}

    .carta:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.checked {
    color: orange;
}



/*Para el switch toggle*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.resultados {
}


#mapid {
    display: none;
    height: 500px;
}

/*Para la carta pequeña*/
*, *:before, *:after {
    box-sizing: border-box;
}

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
    width: 250px;
    min-height: 50px;
    height: 80px;
    padding: 0px;
    border-radius: 3px;
    background-color: white;
    /*box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);*/
    position: relative;
    overflow: visible;
}
/*
    .card:after {
        content: '';
        display: block;
        width: 100px;
        height: 300px;
        background: cadetblue;
        position: absolute;
        animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
    }
    */

.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
    float:left;
    width:100%;
}

    .firstinfo img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        float:left;
        margin-right: 5px;
    }

    .firstinfo .profileinfo {
        padding:0px;
        margin: 0px;
        width:100%;
    }

        .firstinfo .profileinfo h1 {
            margin: 5px 0 5px 0;
            font-size: 15px;
            width:100%;
            }

        .firstinfo .profileinfo h3 {
            float:left;
            font-size: 8px;
            color: black;
            font-style: italic;
            margin: 2px 0 2px 0;
        }

        .firstinfo .profileinfo p.bio {
            margin-top: 5px;
            color: #5A5A5A;
            line-height: 1.2;
            font-style: initial;
            float: left;
            font-size:10px;
        }
/*
@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animainfos {
    0% {
        bottom: 10px;
    }

    100% {
        bottom: -42px;
    }
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }

    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
    }

*/

/*Para la página de bienvenida*/

.bparte{
    float:left;
    width:49%;
    padding:10%;
}

.bparte h1{
    font-size:24px;
}

.bparte h2 {
        font-size: 15px;
    }

#imagenMapa{
    float: left;
    width:98%;
    height:200px;
    background-color: antiquewhite;
    border:2px solid black;
}

.bparte p {
    font-size: 17px;
    color:darkgrey;
}

#parteMarco{
    width:100%;
    padding:2%;
    height:200px;
    border:2px solid;
    border-radius:10px;
}

    #parteMarco input {
        float: left;
        width: 96%;
        margin-left: 2%;
        margin-bottom: 10px;
        border-radius: 10px;
        font-size:12px;
    }
