.highlight:before {
    opacity: 0;
    content: '';
    position: fixed;
    padding: 1em 2em;
    transition: all .5s;
    -webkit-transform: translate(-33%, -0.6em) scale(1);
    transform: translate(-33%, -0.6em) scale(1);
    border-radius: 0.5em;
    border: 0.2em solid rgba(255, 217, 68, 0.8);
    box-shadow: 0 0 0 1000em rgba(0, 0, 0, 0.7);
}

.overlay .highlight:before {
    opacity: 1;
    -webkit-animation: wiggle 2s ease-in;
    animation: wiggle 2s ease-in;
    transition: all .2s;
}

.overlay .highlight:after {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}
