
@{
    ViewBag.Title = "RegistroAlumno";
    Layout = "~/Views/Shared/_LayoutTemple.cshtml";
}

<h2>Registro de alumno</h2>

<div class="container-fluid px-3">
    <br />

    @Html.BeginForm(){

        <!-- SmartWizard html -->
        <div id="smartwizard">
            <ul>
                <li>
                    <a href="#step-1">
                        Paso 1<br /> <small>
                            Datos
                            generales
                        </small>
                    </a>
                </li>
                <li>
                    <a href="#step-2">
                        Paso 2<br /> <small>
                            Información
                            de contacto
                        </small>
                    </a>
                </li>
                <li>
                    <a href="#step-3">
                        Paso 3<br /> <small>
                            Información
                            de perfil
                        </small>
                    </a>
                </li>
                <li>
                    <a href="#step-4">
                        Paso 4<br /> <small>
                            Completando
                            perfil
                        </small>
                    </a>
                </li>
            </ul>

            <div>
                <div id="step-1" class="m-4">
                    <div id="form-step-0" role="form">

                        <div class="form-group">
                            <label for="nombres">Nombres</label> <input type="text"
                                                                        class="form-control mb-3" id="nombres" name="nombres"
                                                                        placeholder="Introduce tus nombres" maxlength=50 required>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="ap">Apellido paterno</label> <input type="text"
                                                                            class="form-control mb-3" id="ap" name="ap"
                                                                            placeholder="Introduce tu apellido paterno" maxlength=30
                                                                            required>
                            <div class="help-block with-errors"></div>

                        </div>

                        <div class="form-group">
                            <label for="am">Apellido materno</label> <input type="text"
                                                                            class="form-control mb-3" id="am" name="am"
                                                                            placeholder="Introduce tu apellido materno" maxlength=30
                                                                            required>
                            <div class="help-block with-errors"></div>

                        </div>

                        <div class="form-group">
                            <label for="edad">Edad</label> <input type="number"
                                                                  class="form-control mb-3" id="edad" name="edad"
                                                                  placeholder="Introduce tu edad en años" maxlength=2 required>
                            <div class="help-block with-errors"></div>

                        </div>

                        <div class="form-group">
                            <label for="dni">DNI</label> <input type="number"
                                                                class="form-control mb-3" id="dni" name="dni"
                                                                placeholder="Introduce tu número de DNI" maxlength=8 required>
                            <div class="help-block with-errors"></div>

                        </div>

                        <label for="genero">Género</label>
                        <div id="genero" class="form-group row"></div>

                    </div>

                </div>

                <div id="step-2" class="m-4">
                    <div id="form-step-1" role="form">
                        <div class="form-group">
                            <label for="direccion">Dirección</label> <input type="text"
                                                                            class="form-control mb-3" id="direccion" name="direccion"
                                                                            placeholder="Introduce tu dirección" maxlength=50 required>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-row">
                            <div class="col-sm-4">
                                <label for="selectregion">Región</label> <select class="custom-select form-control mb-3" id="selectregion"
                                                                                 required>
                                    <option value="0" selected>Seleccione una región</option>

                                </select>
                                <div class="valid-feedback">Listo</div>
                            </div>
                            <div class="col-sm-4">
                                <label for="selectdepartamento">Departamento</label> <select class="custom-select form-control mb-3"
                                                                                             id="selectdepartamento" required disabled>
                                    <option value="0" selected>
                                        Seleccione un
                                        departamento
                                    </option>

                                </select>
                                <div class="valid-feedback">Listo</div>
                            </div>
                            <div class="col-sm-4">
                                <label for="selectdistrito">Distrito</label> <select class="custom-select form-control mb-3" id="selectdistrito"
                                                                                     required disabled>
                                    <option value="0" selected>Seleccione un distrito</option>

                                </select>
                                <div class="valid-feedback">Listo</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="correo">Correo</label> <input type="email"
                                                                      class="form-control mb-3" id="correo"
                                                                      placeholder="Introduce tu correo" maxlength=50 required>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="telefono">Teléfono</label> <input type="tel"
                                                                          class="form-control mb-3" id="telefono"
                                                                          placeholder="Introduce tu teléfono" maxlength=9 required>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="usuario">Nombre de usuario</label> <input type="text" class="form-control mb-3" id="usuario"
                                                                                  placeholder="Introduce un nombre de usuario" maxlength=20
                                                                                  required>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="clave">Contraseña</label> <input type="password"
                                                                         class="form-control mb-3" id="clave"
                                                                         placeholder="Introduce una constraseña" maxlength=50 required>
                            <div class="help-block with-errors"></div>
                        </div>


                    </div>

                </div>

                <div id="step-3" class="m-4">

                    <div id="form-step-2" role="form">

                        <fieldset class="bordered fieldformacion">


                            <legend>Formación</legend>

                            <div class="form-group">
                                <label for="selectespecialidad">
                                    ¿En qué se
                                    especializa?
                                </label> <select class="custom-select form-control mb-3 selectespecialidad"
                                                 id="selectespecialidad" required>
                                    <option selected>Seleccione una especialidad</option>

                                </select>
                                <div class="valid-feedback">Listo</div>
                            </div>


                            <div class="form-row mb-3">
                                <div class="col-sm-4 text-center">
                                    <input type="checkbox"
                                           class="form-check-input chkespecialidad"
                                           id="chkespecialidad"> <label class="form-check-label" for="chkespecialidad">Otro</label>
                                </div>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control mb-3 txtespecialidad"
                                           id="txtespecialidad" placeholder="Especifique" disabled>
                                </div>

                            </div>


                            <div class="form-group">
                                <label for="selectestudios">¿En dónde ha estudiado?</label> <select class="custom-select form-control mb-3 selectestudios"
                                                                                                    id="selectestudios" required>
                                    <option selected>Seleccione su centro de formación</option>

                                </select>
                                <div class="valid-feedback">Listo</div>

                            </div>


                            <div class="form-row mb-3">
                                <div class="col-sm-4 text-center">
                                    <input type="checkbox" class="form-check-input chkestudios"
                                           id="chkestudios"> <label class="form-check-label"
                                                                    for="chkestudios">Otro</label>
                                </div>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control txtestudios"
                                           id="txtestudios" placeholder="Especifique" disabled>
                                </div>

                            </div>

                        </fieldset>

                        <button id="btnformacion" type="button"
                                class="btn btn-primary btn-block mb-4">
                            &#43 Agregar
                            otra formación
                        </button>

                        <fieldset class="bordered fieldexperiencia">

                            <legend>Experiencia</legend>
                            <div class="form-group">
                                <label for="selectexperiencia">
                                    ¿En donde ha
                                    trabajado?
                                </label> <select class="custom-select form-control mb-3 selectexperiencia"
                                                 id="selectexperiencia" required>
                                    <option selected>
                                        Seleccione su(s) centro(s) de
                                        trabajo
                                    </option>

                                </select>

                                <div class="form-row">
                                    <div class="col-sm-4 text-center">
                                        <input type="checkbox"
                                               class="form-check-input chkexperiencia"
                                               id="chkexperiencia"> <label class="form-check-label" for="chkexperiencia">Otro</label>
                                    </div>

                                    <div class="col-sm-8">
                                        <input type="text" class="form-control mb-3 txtexperiencia"
                                               id="txtexperiencia" placeholder="Especifique" disabled>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="col-sm-5">
                                        <label for="aniosexperiencia">Años</label> <input type="number" class="form-control mb-3 aniosexperiencia"
                                                                                          id="aniosexperiencia" placeholder="Número de años"
                                                                                          required>
                                    </div>

                                    <div class="col-sm-7">
                                        <label for="cargo">Cargo</label> <input type="text"
                                                                                class="form-control mb-3 cargo" id="cargo"
                                                                                placeholder="Cargo" required>
                                    </div>

                                </div>

                                <div class="valid-feedback">Listo</div>


                            </div>
                        </fieldset>

                        <button id="btnexperiencia" type="button"
                                class="btn btn-primary btn-block mb-4">
                            &#43 Agregar
                            otra experiencia
                        </button>

                    </div>

                </div>

                <div id="step-4" class="m-4">
                    <div id="form-step-3" role="form">

                        <legend>Ya casi hemos terminado</legend>

                        <div class="form-group">
                            <label for="descripcion">
                                ¿Cómo te describes a ti
                                mismo(a)?
                            </label>
                            <textarea rows="4" cols="5" class="form-control"
                                      id="descripcion" maxlength=5000 required>

</textarea>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="imagen">Selecciona una imagen de perfil</label> <input type="file" class="form-control-file" id="imagen"
                                                                                               aria-describedby="fileHelp" accept="image/*"> <small id="fileHelp" class="form-text text-muted">
                                Extensión
                                jpg, buena resolución
                            </small>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input id="acepta"
                                       type="checkbox" class="form-check-input" required> He
                                leído los <a href="#">términos y condiciones</a>
                            </label>
                        </div>

                    </div>
                </div>
            </div>



        </div>

}

</div>
