<ul class="dropdown-menu">
    <li><a href="#">Mis anuncios</a></li>
    <li><a href="#">Mi perfil</a></li>
    <li><a href="#">Mis horarios</a></li>
    <li><a href="#">Configuración</a></li>
    <li><a href="#">Acerca de</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="@Url.Action("CerrarSesion","Instructor")">Cerrar sesión</a></li>
</ul>
