<ul class="dropdown-menu">
    <li><a href="@Url.Action("AnunciosInstructores","Alumno")">Anuncios de instructores</a></li>
    <li><a href="#">Mi perfil</a></li>
    <li><a href="#">Mis citas</a></li>
    <li><a href="#">Configuración</a></li>
    <li><a href="#">Acerca de</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="@Url.Action("CerrarSesion","Alumno")">Cerrar sesión</a></li>
</ul>
